<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Coaching 4 Change</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Varela Round:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/c4c-images/logo_stacked.jpg">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <!--<link rel="stylesheet" type="text/css" href="javascripts/slick-1.3.11/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>
  


<!-- Start WOWSlider.com HEAD section -->
  <link rel="stylesheet" type="text/css" href="engine1//style.css" media="screen" />
  <script type="text/javascript" src="engine1//jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->


</head>


<body>
  
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>





  <!-- Primary Page Layout
  ================================================== -->

<div id="top">
  <div class="container">
   <div class="fourteen columns">

      <p>  Annual Report | Contact Us |  <strong><a href="#">DONATE</a></strong></p>
      
     
 
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="sixteen columns">
      <nav>
      <div class="logo">
        <img src="/assets/c4c-logo-print.png">
      </div>
        <ul>
          
          <li><a href="#section2">About Us</a></li>
          <li><%= link_to 'Programs', page_path('programs')%></li>
         
          <li><a href="#">Media</a></li>

        </ul>

      </nav>
   </div>
 </div>
  </div>
</div>

<!-- break 
  =========================================== -->
<!--<div id="break">
 </div>


<!--  1st section 
============================================= -->
<div id="section1">
<!-- Start WOWSlider.com BODY section id=wowslider-container1 -->
  <!--<div id="wowslider-container1">
  <div class="ws_images"><ul>
    <li><img src="data1/images/background.jpg" alt="Coach Leadership Academy (CLA)" title="Coach Leadership Academy (CLA)" id="wows1_0"/></li>
    <li><a href="http://wowslider.com"><img src="data1/images/teamwork.jpg" alt="wowslider" title="Youth Sports Leadership Program (YSLP)" id="wows1_1"/></a></li>
    <li><img src="data1/images/stepback.jpg" alt="Coaching 4 Change-Rethinking The Role of Athletics" title="Coaching 4 Change-Rethinking The Role of Athletics" id="wows1_2"/></li>
  </ul></div>
  <div class="ws_bullets"><div>
    <a href="#" title="Coach Leadership Academy (CLA)"><img src="data1/tooltips/background.jpg" alt="Coach Leadership Academy (CLA)"/>1</a>
    <a href="#" title="Youth Sports Leadership Program (YSLP)"><img src="data1/tooltips/teamwork.jpg" alt="Youth Sports Leadership Program (YSLP)"/>2</a>
    <a href="#" title="Coaching 4 Change-Rethinking The Role of Athletics"><img src="data1/tooltips/stepback.jpg" alt="Coaching 4 Change-Rethinking The Role of Athletics"/>3</a>
  </div></div><span class="wsl"><a href="http://wowslider.com/vs">jquery slideshow</a>

  <script type="text/javascript" src="engine1//wowslider.js"></script>
  <script type="text/javascript" src="engine1//script.js"></script>
<!-- End WOWSlider.com BODY section -->

 </div>
</div>

<!--<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="javascripts/slick-1.3.11/slick/slick.min.js"></script>
       
        <script type="text/javascript">
        $(document).ready(function(.click){
          $('.single-item').slick({
            accesibility: true
          });
        });
        </script>-->
<!-- 2nd Section About Us -->
<div id="cascade">
<div id="about_us">
  <div class="container">
    
    <div class="fourteen columns clearfix">
  
    </div>
    
    <div class="ten columns alpha">
       </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br><h1>Rethinking the Role of Sports</h1>
     <!--<img src="images/c4c-images/c4c_background.jpg"/>-->
    </div>

   <div class="four columns omega">
    <h1><strong><Our Mission</strong></h1>

    <p><strong>Coaching4Change</strong> blends coach education, literacy, and leadership to empower and employ teenagers.</p>
    
    <p><strong>Our Vision</strong> is that Every child graduates from high school ready and able to build a successful life for themselves.</p>

    </br>
    </br>
    <div class="move"><strong><a href="#">Find out more!</a></strong></div>
   
   </div>
  </div>
  
 </div>

<div id="section2">
  <div class="container">
   <div class="twelve columns offset-by-two clearfix">
     <h1><strong>About Us</strong></h1>
      <p><strong>Coaching4Change teachs High school students to become leaders by coaching</strong> after school youth sports programs,  organizing school-wide athletics tournaments, and running youth sports <em>“skills and drills”</em> clinics. By partnering with schools, school districts and affordable housing developments, we create a network of Teachers, College Leaders, and Parent advocates for our high school students. Our program creates opportunities and guides them through small successes that result from academic tutoring and implementing our uniquely impactful program model.</p>
        
        
      
        <img src="/assets/teamwork.png"/>
     

      <!--<p><img src="images/c4c-images/teams-cut.jpg"/></p>-->
    
    </div>
  </div>
</div>
</div>

<div id="break">
</div>

<div id="leader">
  <div class="container">
    
     
    <div class="one-third column">
       <div class="hack">
        <img src="/assets/leads.jpg"/>
       </div>
       <div class="lead">
          <h1>Leadership</h1>
          <!--<p>Native to South Central Los Angeles, Marquis Taylor studied at Stonehill College on a full basketball scholarship and at Smith College, where he received a Masters in Teaching in 2011. While at Smith, he recognized the need to engage students who were disenfranchised at school, and to teach them job readiness skills. Combining his professional and basketball experience, he founded Coaching For Change.</p>-->
          <p><strong>Coaching4Change's unique</strong> programs empower at-risk youth by allowing them to take responsibility and ownership over projects. Particpants decide the tasks and timelines to make their project a success.</p>
          <p><strong>Each project operates </strong> independently because our <em>High School students control</em> the outcome of their project.</p>
          <div class="move"><a href=""><strong>OUR TEAM</strong></a></div>
      </div>
    </div>


    <div class="one-third column">
      <div class="hack">
        <img src="/assets/reading.jpg" />
      </div>
         <div class="lead">
           <h1>Literacy</h1>
           <p><strong>C4C programs</strong> entices and motivates young people to complete high school and continue their education. </p>
            <strong>Each High School Student</strong> who participates in Coaching4Change recieves tutors from local colleges to help improve their grades and realize their full potential. The High School Students pay it forward by tutoring middle and elemnetary school students.</p>
           <div class="move"><a href=""><strong>LEARN MORE</strong></a></div>
        </div>
    </div>
  

    <div class="one-third column">
      <div class="hack">
        <img src="/assets/stop.JPG"/>
      </div>
        <div class="lead">
          <h1>Coaching</h1>
          <p><strong>The experience of sports coaching</strong> teaches transferable skills. We utilize this tool to empower our teens to lead and work together.</p>
          <p><strong>C4C's High school students</strong> learn how to run a three on three basketball tournament or organize, coach and referee a middle/elementary school sports afterschool program.</p>
          <div class="move"><a href=""><strong>SUPPORT US</strong></a></div>
           <!--<p><strong>Youth Sports Leadership Program (YSLP)</strong> is an apprenticeship program that combines business with coaching as students learn to plan and implement a sports tournament at their own school...</p>
           <p><strong>Coach Leadership Academy (CLA)</strong> is a coaching apprenticeship program in which high school students build self-confidence and develop leadership, teamwork, and other soft business skills by coaching elementary school students (3rd-5th graders)...
        <a href="">More programs</a>-->
      </div>
    </div>    
    
</div>

</div>

<!--Results Section with C4C Report Card,  Bring C4C to Your School and Us in the News with Glyphicons-->


<div id="social">
  <div class="container">
    <span><img src="/assets/selfie.png"/>
    </br></br></br></br></br></br></br></br><h1>Follow Us!</h1></span>

      <div class="one-third column">
       
        <a class="twitter-timeline" href="https://twitter.com/C4CBoston" data-widget-id="521454076706299904">Tweets by @C4CBoston</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
      </div>
 
  <div class="one-third column">
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="2" style=" background:#FFF; border:1px solid; border-radius:3px; box-shadow:0 0 0 10px rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">

      <div style="padding:8px;">
        <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding-bottom:55%; padding-top:45%; text-align:center; width:100%;">
          <div style="position:relative;">
            <div style=" -webkit-animation:dkaXkpbBxI 1s ease-out infinite; animation:dkaXkpbBxI 1s ease-out infinite; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-44px; width:44px;">
            </div>
            <span style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:12px; font-style:normal; font-weight:bold; position:relative; top:15px;">Loading</span></div>
          </div><p style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin:8px 0 0 0; padding:0 4px; word-wrap:break-word;"> DaeDae &amp; Sully from last week #C4CLife</p>
          <p style=" line-height:32px; margin-bottom:0; margin-top:8px; padding:0; text-align:center;"> 
            <a href="https://instagram.com/p/pmR1p4E-tF/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; text-decoration:none;" target="_top"> View on Instagram</a>
          </p>
        </div><style>@-webkit-keyframes"dkaXkpbBxI"{ 0%{opacity:0.5;} 50%{opacity:1;} 100%{opacity:0.5;} } @keyframes"dkaXkpbBxI"{ 0%{opacity:0.5;} 50%{opacity:1;} 100%{opacity:0.5;} }</style>
      </blockquote>
      <script async defer src="http://platform.instagram.com/en_US/embeds.js"></script>
         
    </div>
 
     <div class="one-third column">
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCoaching4Change&amp;width&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=828123097199809" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:427px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>
</div>
</div>
  <!--<div class="one-third column">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/-7ragzSSajE" frameborder="0" allowfullscreen></iframe>
  </div>


       <!--<h2><img src="images/c4c-images/logo.png"/></h2>
       <p><strong>High school students become leaders by coaching after school youth sports</strong> programs,  organizing school-wide athletics tournaments, and running youth sports <em>“skills and drills”</em> clinics. Our supporting network of Teachers, College Leaders, and Parents advocate for our high school students by providing them with opportunities and guiding them through small successes that result from academic tutoring and implementing our uniquely impactful program model.</p> 
       <img src="images/c4c-images/teamwork.jpg">
       <h2>Coaching4Change blends coach education, literacy, and leadership to empower and employ teenagers.</h2> 
      <p>We motivate our students by rewarding them for becoming contributing members to their community as they create their own pathways to a successful future. Our goal is to create an environment that motivates, engages, and inspires continued learning as well as personal growth.</p>
    </div>
       <div class="one-third column">
        <img src="images/c4c-images/marquis.jpg"/>
      </div>
      <div class="one-third column">
        <img src="images/c4c-images/marquis.jpg"/>
      </div>
      <div class="one-third column">
        <img src="images/c4c-images/marquis.jpg"/>
      </div>
       <div class="twelve columns offset-by-two">
       <!--<h2><img src="images/c4c-images/logo.png"/></h2>-->
      
       <!--<img src="images/c4c-images/teamwork.jpg">
       <h2>Coaching4Change blends coach education, literacy, and leadership to empower and employ teenagers.</h2> 
      <p>We motivate our students by rewarding them for becoming contributing members to their community as they create their own pathways to a successful future. Our goal is to create an environment that motivates, engages, and inspires continued learning as well as personal growth.</p>
    </div>
  </div>-->


<!-- 3rd section Videos -->

<!--<div id="video">
  <div class="container">
    <div class="twelve columns offset-by-two">
      <h1><strong>Videos</strong></h1>
      <h2><strong> C4C's model is designed to provide opportunities for disengaged urban youth to learn more about leadership, college, and career/job readiness.</strong></h2>
      <iframe width="700" height="500" src="http://www.youtube.com/embed/-7ragzSSajE" frameborder="0" allowfullscreen></iframe>
        <div class="six columns alpha">
         <div class="hack"><div class="btn"><strong>Learn More</strong></div></div>
        </div>

        <div class="six columns omega">
          <div class="hack1">
            <div class="btn1"><strong>Donate</strong></div>
          </div>
        </div>

    </div>
  </div>
</div
 
  

<!-- 4th Section Cute Kids -->




<!--<div id="testimonials">
  <div class="contatiner">
    <div class="twelve columns offset-by-two">
      <h1>Testimonials</h1> 
      <blockquote>Ohh I want to sit a round I cant quit now, you really got a hold on me
        <cite>Abie</cite></blockquote>
    </div>
  </div>
</div>-->
      <!--<div class="hack">
          
        <h1>Coach Leadership Academy</h1>
        <p><strong>Coach Leadership Academy (CLA) is a coaching</strong> apprenticeship program in which high school students build self-confidence and develop leadership, teamwork, and other soft business skills by coaching elementary school students (3rd-5th graders).<a href="">learn more</a></p> 

      </div> -->

<!--Sponsors -->

<div id="sponsors">
  <div class="container">
    <div class="tweleve columns offset-by-two">
      <h1>Our Sponsors</h1>
        <div class="one-sixth column">
         <img src="/assets/Trip-Advisor-logo.jpg"/>
        </div>

        <div class="one-sixth column">
          <img src="/assets/zakim.jpg"/>
      
        </div>

        <div class="one-sixth column">
          <img src="/assets/amelia.jpg"/>
        </div>
   
        <div class="one-sixth column">
          <img src="/assets/easternbank.jpg"/>
        </div>

      <div class="one-sixth column">
      
          <img src="/assets/echoinggreen.jpg">
      
      </div>
      
      <div class="one-sixth column">
        <img src="/assets/fresh_city.jpeg">
      </div>
    </br>
       <div class="but"> <a href="#"><strong>MORE SPONSORS</strong></a></div>
    </div>
  </div>
</div>





<div id="footer">
  <div class="container">
    <div class="twelve columns">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
  </nav>
</div>
<div class="two columns">
 
  <img src="/assets/logo_stacked_words.jpeg" alt="Jottly" />
</br>
</br>
   <p>&copy; 2014. Coaching4Change All Rights Reserved.</p>
 </div>
</div> 
</div>
    </div>
  </div>
</div>
      <!--- Our goal is to create an environment that motivates, engages, and inspire continued learning as well as personal growth. -->
      

<!-- End Document
================================================== -->
</body>

