<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Coaching 4 Change</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Varela Round:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/c4c-images/logo_stacked.jpg">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <!--<link rel="stylesheet" type="text/css" href="javascripts/slick-1.3.11/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>
  


<!-- Start WOWSlider.com HEAD section -->
  <link rel="stylesheet" type="text/css" href="engine1//style.css" media="screen" />
  <script type="text/javascript" src="engine1//jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->


</head>


<body>
  
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>





  <!-- Primary Page Layout
  ================================================== -->

<div id="top">
  <div class="container">
   <div class="fourteen columns">

      <p>  Annual Report | Contact Us |  <strong><a href="#">DONATE</a></strong></p>
      
     
 
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="sixteen columns">
      <nav>
      <div class="logo">
        <%= link_to image_tag("c4c-logo-print.png"), root_path('')%>
      </div>
        <ul>
          <li><%= link_to 'Programs', page_path('programs')%></li>
          <li><%= link_to 'Donate', page_path('home')%></li>
          <li><%= link_to 'Our Team', page_path('our_team')%></li>

        </ul>

      </nav>
   </div>
 </div>
</div>



<div id="media">
  <div class="container">
    <div class="sixteen columns">
      <h1>News and Media</h1>
          
          <div class="people"><img src ="/assets/people.png"/></div>
         
          <a href="http://www.people.com/people/article/0,,20818999,00.html"><h2><strong>Marquis Taylor Mentors At-Risk Kids</strong></h2></a>
          <h4>May 22nd, 2014</h4>
          <h3>Janine Rayford Rubenstein</h3>
        
          <p>In 2009, Marquis Taylor was well on his way up the corporate ladder. The California-raised Stonehill College grad had recently landed a plumb job as a Boston-based real estate investment banker<a href="">...</a></p>
       
        
      


      <img src="/assets/huffpo.png"/>
      </br>
        <h2><a href="http://www.huffingtonpost.com/marquis-taylor/pushing-past-my-comfort-zone_b_4275775.html"><strong>From Vision To Reality: How Grit Got Me Out</strong></a></h2>
        <h4>November 17th, 2014</h4>
        <h3>Marquis Taylor</h3>

        <p>Grit is described by Angela Lee Duckworth as motivation, perseverance, and stamina. For me, developing grit wasn't a choice -- it was a necessity. Growing up in gang-riddled, poverty stricken South Central Los Angeles, about five blocks from where the 1992 LA riots started, I began playing basketball<a href="">...</a></p>

      <div class="hbr"><img src="/assets/hbr.jpg"/></div> 
      </br>

        <h2><a href="https://hbr.org/2013/02/entrepreneurs-youre-more-impor/"><strong>Entrepreneurs: You're More Important Than Your Business Plan</strong></a></h2>
        <h4>February 18th, 2013</h4>
        <h3>Rich Leimsider and Cheryl Dorsey</h3>
        <p>“Would you take a look at my business plan?”
        </br>
        </br>Some member of our staff at Echoing Green, an angel investor and grantmaker in social enterprise, hears this request every week. And we are often happy to review these start-up plans — which include the typical elements such as a product description, competitive analysis, estimate of market size, and projected financials. But we are interested in much more than these traditional plans. We use other criteria to find new people and ideas that can create large-scale social change.</p>

<div class="crowdvance">
  <img src="/assets/crowdvance.png" alt="crowdvance"/></div>
</br>
<h2><a href="http://blog.crowdvance.com/2013/10/29/just-something-cool-that-happened-to-good-people/"><strong>Just Something Cool That Happened to Good People</strong></a></h2>
<h4>November 17th, 2013</h4>
<h3>charlescrowdvance</h3>

<p>One of my favorite nonprofits we have had fundraise on Crowdvance, Coaching For Change, has recently enjoyed some fantastic press. Co-Founder and Executive Director Marquis Taylor was featured by The Huffington Post as the “Go-Giver of the Week” for the incredible impact Coaching For Change has made in the Boston community<a href="">...</a></p>



  <div class="summit"><img src="/assets/summit.png" alt="Stonehill College - The Summit"></div>
</br>
<h2><a href="http://stonehillblogs.org/summit/?p=581"><strong>Coaching for Change thriving under Stonehill Alum</strong></a></h2>
<h4>October, 29th, 2013</h4>
<h3>Jessie Harvey</h3>

<p>The Coaching for Change co-founder opened up his home in Newton to donors, raising $10,000 for programming last Tuesday evening.
</br>
Peter Berman, co-founder and Director of Operations of Coaching for Change (C4C), hosted appetizers at his<a href="">...</a></p>


<img src="/assets/huff_po2.jpg">
</br>
<h2><a href="http://www.huffingtonpost.com/2013/10/08/marquis-taylor-coaching4change_n_4058777.html"><strong>He Quit His Wall Street Job to Teach Basketball to Low-Income Kids</strong></a></h2>
<h4>October 8th, 2013</h4>
<h3>Carolyn Gregoire</h3>

<div class="huffpo2"><p>Every day, Marquis Taylor works with low-income, disengaged high school students who are on the verge of dropping out. One 18-year-old had grown up in a family of nine kids and a single mom in Brockton, Mass. He was frequently in trouble and failing most of his classes. But by the time he had gone through Taylor's mentorship program, the boy had raised his GPA almost two full points and started running after-school programs to teach younger kids basketball. He's on track to graduate this May<a href="">...</a></p></div>
</div>
</div>


<div class="container">
  <div class="sixteen columns">
   <h1>Videos</h1>
<!--<img src="/assets/huffpo_live.jpg" alt="Huffington Post Live"/>
<div style='text-align:center'>

<script type='text/javascript' src='http://pshared.5min.com/Scripts/PlayerSeed.js?sid=281&width=560&height=314&playList=517961317' id="vid"></script>

<br/>

</div>-->
<iframe width="90%" height="500px" src="//www.youtube.com/embed/SLH-M4yI18Q" frameborder="0" allowfullscreen></iframe>
<iframe width="90%" height="500px" src="//www.youtube.com/embed/-7ragzSSajE" frameborder="0" allowfullscreen></iframe>
<iframe width="90%" height="500px" src="//www.youtube.com/embed/G7WY89qL-xo" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
<div id="social">
  <div class="container">
    <span><img src="/assets/selfie.png"/>
    </br></br></br></br></br></br></br></br><h1>Follow Us!</h1></span>

      <div class="one-third column">
       
        <a class="twitter-timeline" href="https://twitter.com/C4CBoston" data-widget-id="521454076706299904">Tweets by @C4CBoston</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
      </div>
 
  <div class="one-third column">
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="2" style=" background:#FFF; border:1px solid; border-radius:3px; box-shadow:0 0 0 10px rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">

      <div style="padding:8px;">
        <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding-bottom:55%; padding-top:45%; text-align:center; width:100%;">
          <div style="position:relative;">
            <div style=" -webkit-animation:dkaXkpbBxI 1s ease-out infinite; animation:dkaXkpbBxI 1s ease-out infinite; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-44px; width:44px;">
            </div>
            <span style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:12px; font-style:normal; font-weight:bold; position:relative; top:15px;">Loading</span></div>
          </div><p style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin:8px 0 0 0; padding:0 4px; word-wrap:break-word;"> DaeDae &amp; Sully from last week #C4CLife</p>
          <p style=" line-height:32px; margin-bottom:0; margin-top:8px; padding:0; text-align:center;"> 
            <a href="https://instagram.com/p/pmR1p4E-tF/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; text-decoration:none;" target="_top"> View on Instagram</a>
          </p>
        </div><style>@-webkit-keyframes"dkaXkpbBxI"{ 0%{opacity:0.5;} 50%{opacity:1;} 100%{opacity:0.5;} } @keyframes"dkaXkpbBxI"{ 0%{opacity:0.5;} 50%{opacity:1;} 100%{opacity:0.5;} }</style>
      </blockquote>
      <script async defer src="http://platform.instagram.com/en_US/embeds.js"></script>
         
    </div>
 
     <div class="one-third column">
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCoaching4Change&amp;width&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=828123097199809" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:427px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>
</div>
</div>
</div>
    </div>
  </div>
</div>





<div id="footer">
  <div class="container">
    <div class="twelve columns">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
  </nav>
</div>
<div class="two columns">
 
  <img src="/assets/logo_stacked_words.jpeg" alt="c4c" />
</br>
</br>
   <p>&copy; 2014. Coaching4Change All Rights Reserved.</p>
 </div>
</div> 
</div>
    </div>
  </div>
</div>
      <!--- Our goal is to create an environment that motivates, engages, and inspire continued learning as well as personal growth. -->
      

<!-- End Document
================================================== -->
</body>
</html>
