<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Coaching 4 Change - Programs</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Varela Round:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/assets/logo_stacked.jpg">
  <link rel="apple-touch-icon" href="/assets/logo_stacked.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<!--<script>
$(document).ready(function(){
  $("button").click(function(){
    $(this).parents(".ex").hide(100);
  });
});
</script>-->
<!--<script>
$( "button" ).click(function() {
  $( "#testimonial .container .fourteen.columns .ex" ).show();
});
</script>-->

<script>
$(document).ready(function(){
 $(".hideshow  button").click(function(){
  $(".message").toggle();
  $(".hideshow button").hide(300);
  });
});
</script>
</head>


<body>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>




  <!-- Primary Page Layout
  ================================================== -->

<div id="top">
  <div class="container">
   <div class="fourteen columns">

      <p>  Annual Report | Newsletter | <strong><a href="">Contact Us</a></strong></p><!-- <strong><a href="#">DONATE</a></strong></p>-->
      
     
 
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="sixteen columns">
      <nav>
      <div class="logo">
         <%= link_to image_tag("c4c-logo-print.png"), root_path('')%>
      </div>
        <ul>
          <li><strong><%= link_to 'Programs', page_path('programs')%></strong></li>
          <li><strong><%= link_to 'New & Media', page_path('media')%></strong></li>
          <li><strong><%= link_to 'Donate', root_path('')%></strong></li>
        </ul>

      </nav>
   </div>
 </div>
</div>


<div id="cascade">
  <div id="our_team">
   <div class="container">
    <div class="sixteen columns">
      <h1>Our Team</h1>
        <h2>Marquis Taylor</h2>
        
        <h3>Co-Founder & President</h3>
        
        <p><img src="/assets/marquis.png"/>Native to South Central Los Angeles, Marquis Taylor studied at Stonehill College on a full basketball scholarship and at Smith College, where he received a Masters in Teaching in 2011. While at Smith, he recognized the need to engage students who were disenfranchised at school, and to teach them job readiness skills. Combining his professional and basketball experience, he founded Coaching For Change.
        </br>
        </br>
        Marquis Taylor was recognized in 2012 by Echoing Green and the Open Society Foundation as one of the country's leading social entrepreneurs for new and innovative organizations. As an Echoing Green Fellow, Marquis has been invited to the White House multiple times and has met with some of the most influential leaders in the field of education, such as Geoffrey Canada, Earl Phalen, Richard Murphy, and Jim Shelton. 
        </br>
        </br>
        Taylor is a part of the steering committee of the New Frontier Network at the John F. Kennedy Library, and is the recipient of a top 40 Under 40 award for Young Civic Minded Emerging Leaders. He has also been selected by the Jewish Community Relations Council to be a part of the Boston-Haifa Leadership Exchange, which brings social justice leaders together from America and Israel.
        </br>
        
      </p>

        <h2>Peter Berman</h2>
        <h3>Co-Founder & Director of Operations</h3>
        <p>Pete is an aspiring business leader and basketball coach, with a passion for community and youth development. After graduating with a Bachelors Degree in Business Administration from the George Washington University in 2009, he began his career in the sports industry by directing a basketball camp in gang-riddled areas on the south side of Chicago, IL. Berman was then brought on as an intern with the Events Team at the United States Soccer Federation (USSF) to help plan the U.S. Soccer team's involvement with the 2010 World Cup in South Africa, and the 2010 Development Academy Playoffs and Finals tournaments. In 2011, Berman opened a satellite office for USSF in New York City as a member of the Professional Referee Department, to spearhead an effort in conjunction with Major League Soccer (MLS) aiming to manage and develop officiating at a level more comparable to the British Premiere League, NFL, NHL, and other professional sports leagues around the world.
        </br>
        </br>
        After the completion of the 2011 MLS season, Pete left USSF to create BMS2, LLC as the Co-Founder, President, and Chief Operating Officer, to develop personalized sporting goods products to be used at all levels of competition. Berman changed direction when he found his passion was working with youth and using sports to improve surrounding communities. As a result, he coached boy's basketball at Algonquin Regional High School, and volunteered with The3PointFoundation.
       
      </p>

        <h2>Meaghan Durkin</h2>
        <h3>Program Manager</h3>
        <p><img src="/assets/meg.png"/>Meaghan graduated from Stonehill College in 2014 with a Bachelor’s of Art Degree in American Studies and Elementary Education.  After working in several different schools in the Brockton Public School District, she realized she wanted to work in education but outside of classroom teaching. In 2013 she started her first C4C internship, at the Boys and Girls Club of Brockton.Her focus was to be involved with organizations that are improving and supporting the education process in conjunction with the current school systems.  Continuing her internship with C4C throughout her senior year, Meg created the first ever Coaching4Change Club at Stonehill.</p>
</div>

        
      
    </div>
    <div class="container">
      <div class="sixteen columns">
        <h1>Board of Directors</h1>
        <h2>Marquis Taylor</h2>
        <h3>Executive Director & Founder</h3>
        <p><img src="/assets/marquis.png"/>Blending the experience as a coach/mentor, educator, entrepreneurship through youth sports, Marquis Taylor is responsible for the sports direction of Coaching For Change, Inc. program development, administration, and fundraising. Marquis Taylor has used basketball as his outlet for over 20 years. Raised by a single mother in South Central Los Angeles, Marquis focused his attention on basketball in order to avoid the pressures many young, Black men face in the inner city. He became a disciplined student both on the court and in the classroom by demonstrating leadership, motivation, and success. This structure and dedication led to a full scholarship to college, further opening more doors to opportunity. Marquis Taylor graduated from Stonehill College in 2006 with a degree in Communications. Upon graduating, he worked for four years in real estate finance in capital markets and low income housing tax credit sector. In 2011, Marquis completed his Masters of Arts in Teaching from Smith College, and started a non-profit called Coaching For Change, Inc. It is Marquis' belief that sports can be used to teach kids valuable leadership skills through coaching. His goal is to provide pathways through sport to help at-risk teenagers reach their full potential, graduate from high school, develop important entrepreneurial skills, and empower them to make a change in their own lives and their community. 
        </p>

        <h2>Ken Michel</h2>
        <h3>CEO of Michel Associates, LTD</h3>
        <p><img src="/assets/Ken.00_jpg_srz"/>Kenneth Michel has over 34 years of direct experience in the affordable housing industry with an emphasis on federal and state housing finance programs. He began his career in 1977 at Greater Boston Development, Inc. (now Boston Capital Partners), in their Syndication Department specializing in the structuring, monitoring, and equity financing of Rural Development (RD) Section 515 Rural Rental Housing Program (formerly FmHA Section 515) low-income properties. In 1981, he joined The Langelier Company, Inc., where he was head of the Acquisitions Department, focusing on the acquisition of affordable housing properties featuring HUD or state agency financing and HUD Section 8 rental subsidies. In 1986, he founded Michel Associates, Ltd., which has successfully sponsored a series of tax credit investment partnerships for high net-worth individuals, financial institutions, and corporations. Mr. Michel currently holds an ownership interest as a limited or general partner in over 10,000 affordable housing apartment units in various locations throughout the United States. Mr. Michel served as a past Director of the Council for Affordable and Rural Housing (CARH), a national advocacy group based in Washington, DC representing the interest of developers, owners and managers of rural housing. He also served as Chairman of the Stonehill College Annual Fund, is the former Chairman of the Stonehill College Board of Fellows, and a former Corporator of Danversbank.</p>

        <h2>David McLaughlin</h2>
        <h3>Associate Head Basketball Coach, Northeastern University</h3>
        <p><img src="/assets/david.png"/>David McLaughlin recently was hired as the Associate Head Coach of Northeastern Basketball Team. Before accepting that job, he was a two-time Northeast-10 Conference Coach of the Year. David McLaughlin is in his ninth season as Stonehill Head basketball coach. McLaughlin was honored as the Northeast Regional Coach of the Year by National Association of Basketball Coaches, and earned his first NE-10 Coach of the Year selection. He had four players earn postseason recognition from the conference as well, including All-Conference first team selection Marquis Taylor '06, third team selections Sean Nelson '06 and current assistant coach Chris Kraus '06, and All-Rookie honoree Nick Smith '09. Prior to Stonehill, he served as an assistant coach at Wesleyan University for two seasons, where he coordinated recruiting for the Cardinals and assisted in scouting and the development of strength and conditioning programs. He also spent time on the Suffolk University staff and was the head coach of the gold-medal-winning Northeast entry of the 1999 Bay State Games. McLaughlin has also served as a head coach at the Collegiate Basketball Invitational for the past four years, coaching top Division II senior players. McLaughlin was a four-year letter winner at Colby College, graduating in 1997 with a degree in history and going on to earn his Master of Education from Suffolk in 1999. In May 2000, McLaughlin earned partial certification from the National Strength and Conditioning Association and is a member of the National Association of Basketball Coaches and the NSCA.</p>

        <h2>Chris Civale</h2>
        <h3>Amerprise Financial Wealth Manager</h3>
        <p><img src="/assets/chris.jpg"/>Chris Civale is an Ameriprise Private Wealth Advisor, who has extensive experience helping affluent clients with their goals to preserve and grow their assets. He is among the most qualified and credentialed advisors in the firm, and I’ll work with an established network of expert resources to help you bring your dreams and goals more within reach.</br></br></br></br></p>

        <h2>Salvador Pina</h2>
        <h3>Director of Economic Development Wareham</h3>
        <p><img src="/assets/sal.png"/>Salvador Pina is the Director of The Wareham Community and Economic Development Authority, which is funded in large part by Community Development Block Grants provided through and monitored by the Department of Housing and Community Development. His department carries and manages Housing rehabilitation program, sign and façade program, transportation subsidy programs and recreation subsidies for Wareham's low and moderate income households, a literacy program and after school programs. Projects completed are planning projects for downtown revitalization, a complete building renovation for a Head Start Program and infrastructure improvements for sewer, sidewalks and handicapped accessory improvements. Economic development activity is related to business retention and recruitment and workforce training opportunities.</p>

        <h2>Kerri Ansello</h2>
        <h3> Assistant Vice President and Senior Counsel and Secretary, Sun Life Financial U.S.</h3>
        <p>Kerri Ansello is a member of the Corporate Practice Group of Sun Life Financial's U.S. Law Department. She is a primary legal advisor with respect to corporate governance and insurance regulatory matters for Sun Life Financial's U.S. subsidiaries. In addition to these responsibilities, Kerri provides advice and counseling on transactional, ERISA, and contract matters and serves as corporate secretary for the organization's U.S. subsidiaries. Kerri joined Sun Life Financial in 2005. She received her B.A. in Foreign Languages from Stonehill College in 1996 and her J.D. from Villanova University School of Law in 1999. After law school and prior to joining Sun Life Financial, Kerri worked as an Investigator at the U.S. Department of Labor, Employee Benefits Security Administration, and as an Assistant District Attorney in Middlesex County, Massachusetts.</p>
      </div>
    </div>
  </div>

<div id="footer">
  <div class="container">
    <div class="twelve columns">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
  </nav>
</div>
<div class="two columns">
 
  <img src="/assets/logo_stacked_words.jpeg" alt="Jottly" />
</br>
</br>
   <p>&copy; 2014. Coaching4Change All Rights Reserved.</p>
 </div>
</div> 
</div>
    </div>
  </div>
</div>
      <!--- Our goal is to create an environment that motivates, engages, and inspire continued learning as well as personal growth. -->
      

<!-- End Document
================================================== -->
</body>
</html>
