<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Coaching 4 Change</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Varela Round:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/c4c-images/logo_stacked.jpg">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
 


</head>
<div id="top">
  <div class="container">
   <div class="fourteen columns">

      <p>  Annual Report | Contact Us |  <strong><a href="#">DONATE</a></strong></p>
      
     
 
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="sixteen columns">
      <nav>
      <div class="logo">
        <img src="/assets/c4c-logo-print.png">
      </div>
        <ul>
          <li><%= link_to 'Programs', page_path('programs')%></li>
          <li><%= link_to 'Our Team', page_path('our_team')%></li>
          
         
           <li><%= link_to 'New & Media', page_path('media')%></li>

        </ul>

      </nav>
   </div>
 </div>
</div>
<div id="cascade">
  <div id="contact_us">
<div class="container">
  <div class="sixteen columns">
    <h1>Contact us</h1>
     
 <%= render partial: "form" %>

  <div class="ten columns omega">
     <h2>Have questions about Coaching 4 Change?</h2> 
     <p>Please fill out your name, email address, pick a subject, fill out the comment area with your question and hit <strong>Submit Email</strong>. One of our staff members will get back to you within two business days.</p>
     <h2>Do you know of any schools or organizations that would like to partner with Coaching 4 Change?</h2>
     <p>If so please fill out the form on your left and select <strong>My Organization would like to partner with Coaching 4 Change</strong> from the Select a Subject dropdown.</p>
     <h2>Does your Company or Organization want to sponsor Coaching 4 Change?</h2>
     <p>Coaching 4 Change is always looking for new corporate sponsors. Please let us know if you would like to join our team. Fill out the form on your left and under subject select <strong>My organization would like to sponsor Coaching 4 Change</strong> </p>
  </div>
</div>
</div>
</div>
<div id="footer">
  <div class="container">
    <div class="twelve columns">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
  </nav>
</div>
<div class="two columns">
 
  <img src="/assets/logo_stacked_words.jpeg" alt="Jottly" />
</br>
</br>
   <p>&copy; 2014. Coaching4Change All Rights Reserved.</p>
 </div>
</div> 
</div>
    </div>
  </div>
</div>
      <!--- Our goal is to create an environment that motivates, engages, and inspire continued learning as well as personal growth. -->
      

<!-- End Document
================================================== -->
</body>
</html>
