/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Site Styles
  #Typography
  #Links
  #Lists
  #Images
  #Buttons
  #Forms
  #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Basic Styles
================================================== */
  body {
    background: #fff;
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
  h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
  h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
  h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
  h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
  h5 { font-size: 17px; line-height: 24px; }
  h6 { font-size: 14px; line-height: 21px; }
  .subheader { color: #777; }

  p { margin: 0 0 20px 0; }
  p img { margin: 0; }
  p.lead { font-size: 21px; line-height: 27px; color: #777;  }

  em { font-style: italic; }
  strong { font-weight: bold; color: #333; }
  small { font-size: 80%; }

/*  Blockquotes  */
  blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
  blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
  blockquote cite { display: block; font-size: 12px; color: #555; }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

  hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
  a, a:visited { color: #333; text-decoration: underline; outline: 0; }
  a:hover, a:focus { color: #000; }
  p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
  ul, ol { margin-bottom: 20px; }
  ul { list-style: none outside; }
  ol { list-style: decimal; }
  ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
  ul.square { list-style: square outside; }
  ul.circle { list-style: circle outside; }
  ul.disc { list-style: disc outside; }
  ul ul, ul ol,
  ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 6px; }
  li { line-height: 18px; margin-bottom: 12px; }
  ul.large li { line-height: 21px; }
  li p { line-height: 21px; }

/* #Images
================================================== */

  img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Buttons
================================================== */

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background: #eee; /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    color: #222;
    background: #ddd; /* Old browsers */
    background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
    background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
    background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
    background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
    background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa; }

  .button:active,
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
    border: 1px solid #666;
    background: #ccc; /* Old browsers */
    background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
    background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
    background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
    background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
    background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
    background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

  .button.full-width,
  button.full-width,
  input[type="submit"].full-width,
  input[type="reset"].full-width,
  input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; }

  /* Fix for odd Mozilla border & padding issues */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }


/* #Forms
================================================== */

  form {
    margin-bottom: 20px; }
  fieldset {
    margin-bottom: 20px; }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; }
  select {
    padding: 0; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
  textarea {
    min-height: 60px; }
  label,
  legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  }
  select {
    width: 220px; }
  input[type="checkbox"] {
    display: inline; }
  label span,
  legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }

/* #Misc
================================================== */
  .remove-bottom { margin-bottom: 0 !important; }
  .half-bottom { margin-bottom: 10px !important; }
  .add-bottom { margin-bottom: 20px !important; }
/* body 
======================  */

body {
  font-size: 16px;
  font-family:Varela Round;
  line-height:1.5;
}
 body h1 {
  font-family:Varela Round;
  font-size:3.0em;
  color:#fff;
 }

 body h2{
  font-family:Varela Round;
  font-size: 1.5em;
 }
/* Header */

#top {
  text-align: right;
  display: inline-block;
  background-color:#fff;
 
  font-color:#000000;
  height:100%;
  margin-left: 16.5%;
  margin-bottom: -1.66666%;
  padding-top: 1.041667%;
}

#top a{ 
  text-transform:uppercase bold;
  text-decoration:none;
  text-align: right;
   border-top: 1px solid #3498db;
   background: #3498db;
   background: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#3498db));
   background: -webkit-linear-gradient(top,#3498db, #3498db);
   background: -moz-linear-gradient(top, #3498db, #3498db);
   background: -ms-linear-gradient(top, #3498db, #3498db);
   background: -o-linear-gradient(top, #3498db, #3498db);
   padding: 10px 20px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   color:#fff;
   font-size: 12px;
   height:100%;
   width: 30px;
}

#header {
  
  font-family: Varela Round;
  font-size: 20px;
  color: #F6F3EE;
  /*border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 100px;*/
  text-align: right;
  padding-bottom: 0px;
  /*margin-top:-21px;*/   



 /*border-top: 3px solid #E01F2E;*/
  
  }

#header .container {
-webkit-box-shadow-bottom:  180px  rgba(50, 50, 50, 0.67);
-moz-box-shadow-bottom:     180px  rgba(50, 50, 50, 0.67);
box-shadow: 0 7px 2px -2px rgba(50, 50, 50, 0.5);

  }

#header .head {
  margin-right:95%; 
}
#header img {

float:left;
height: 35%;
width: 35%;
/*margin-top: 1.7%;*/
margin-left: 4.7%
/*border-color: black;
border-style: solid;
border-width: 1px;*/
/*box-shadow: 0 0 3px #000000;
/*box-shadow: -20px -20px -30px #888888;*/
/* for logo */

/*-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing 
-khtml-border-radius: 10px;*/
}
#header .container {
  background: #fff;
  width: 100%;
  height: 100%;

    }


#header nav {
  text-align: right;
  
  margin-left: 10%;
  width: 100%;
  /*padding-top: 40px;
  
  /*margin-top: 1em; */
  
}

#header nav ul li {
  display: inline-block;
  margin-left: 0.0520833%;
  margin-top:5.20833%; 
}

#header nav ul li a {
  
  text-transform:uppercase bold;
  text-decoration:none;
  text-align: right;
   border-top: 1px solid #E01F2E;
   background: #E01F2E;
   background: -webkit-gradient(linear, left top, left bottom, from(#E01F2E), to(#E01F2E));
   background: -webkit-linear-gradient(top, #E01F2E, #E01F2E);
   background: -moz-linear-gradient(top, #E01F2E, #E01F2E);
   background: -ms-linear-gradient(top, #E01F2E, #E01F2E);
   background: -o-linear-gradient(top, #E01F2E, #E01F2E);
   padding: 20px 40px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   /*box-shadow: 0 0 3px #000000;*/
 

   color: #fff;
   font-size: 20px;
   height:15.208333%;
   max-width: 10.416667%;
   text-decoration: none;
   vertical-align: middle;
 }


 /*#header nav ul li a.btn {
   
   border-top: 1px solid #00bfbf;
   background: #00bfbf;
   background: -webkit-gradient(linear, left top, left bottom, from(#00bfbf), to(#00bfbf));
   background: -webkit-linear-gradient(top, #00bfbf, #00bfbf);
   background: -moz-linear-gradient(top, #00bfbf, #00bfbf);
   background: -ms-linear-gradient(top, #00bfbf, #00bfbf);
   background: -o-linear-gradient(top, #00bfbf, #00bfbf);
   padding: 11px 22px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   
   color: white;
   font-size: 20px;
   
   text-decoration: none;
   vertical-align: middle;
   }

/*#header nav ul li a.btn:active {
   border-top-color: #ff0400;
   background: #ff0400;
   }

  #header nav ul li a.btn:hover {
   border-top-color: #00bfbf;
   background: #00bfbf;
   color: #ffffff;
 }
/* break */

 #break
 {
  padding-top:5px;
  background-color: #BF4040;
  width:100%;
  height:98px;
  
 }

#break h1 {
  font-family: Varela Round;
  font-size: 2.0em;
  color: #fff;
  height: 20px;
  text-align: center;
  text-decoration: none;
  
 }
 /* section1   */
 #section1 {   
  width:100%;
  height: 100%;
  background-image: url(../assets/teamwork.jpg);
  /*overflow:hidden;*/
}


#wowslider-container1 .ws_images img {
  font-family: Varela Round;
}
/*#section1 .carousel ul {
  list-style:none;
  width:1800px;
  height: 300px;
}


#section1 .carousel ul li {
  float:left;
  width: 600px;
  height: 300px
}

#section1 .carousel ul li img {
  width:600px;
  height: 300px;
}
/*About us --------- */
 
#cascade {
   background: -webkit-linear-gradient(#3498db, #5092BE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3498db, #5092BE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3498db, #5092BE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3498db, #5092BE); /* Standard syntax */
  height:100%;
  width:100%;
  
}
#about_us {
  padding-top:30px;
  font-family:Varela Round;
  /*padding-bottom: 20px;*/
  /*background-color:#3498db;*/
  height:100%;
  
}


#about_us .sixteen.columns h1 {
  color: #fff;
  font-size: 2.0em;
  text-align: center;
}

#about_us h2 {
  color:#fff;
  text-align:center;
}

/*#about_us img {
  
  width: 180px;
  height: 180px;
  padding-left:;
  /*border: 1px solid #BF4040;
  border-radius: 200px;
  box-shadow: 0 0 3px #BF4040;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}*/
#about_us strong {
  color: #fff;
}

#about_us h2 img {
  height: 150px;
  width: 350px;
}

#about_us .container .ten.columns {
  /*height:100%;
  width:75%;*/
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  background-image: url("../assets/boys.png");
  /*background-size:100% 100%;*/
  background-repeat: no-repeat;
} 

#about_us .container .ten.columns h1{
  font-size:1.8em;
  background-color: #BF4040;
  opacity:.9;
 
  text-align: center;
  -moz-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
}
/*#about_us .container .ten.columns img {
  height:100%;
  width:100%;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 

} */
#about_us .container .six.columns {
  background-color:#13496C;
  height:480px;
  width:300px;
  padding-top: 50px;

  margin-left:-11px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
 
}
  
#about_us .container .six.columns h1 {
  color:#fff;
  font-size: 1.8em;
  text-align:center;

}
  #about_us .container .six.columns p {
  color:#fff;
  font-size: 1.0em;
  text-align:left;
  margin-right: 5%;
  margin-left:5%;
}

#about_us .move{
  padding-left: 40px;
}
  #about_us .container .six.columns a {
 text-transform:uppercase bold;
  text-decoration:none;
  text-align: right;
   border-top: 1px solid #E01F2E;
   background: #E01F2E;
   background: -webkit-gradient(linear, left top, left bottom, from(#E01F2E), to(#E01F2E));
   background: -webkit-linear-gradient(top, #E01F2E, #E01F2E);
   background: -moz-linear-gradient(top, #E01F2E, #E01F2E);
   background: -ms-linear-gradient(top, #E01F2E, #E01F2E);
   background: -o-linear-gradient(top, #E01F2E, #E01F2E);
   padding: 20px 40px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   font-family: Varela Round;
   color:#fff;
   font-size: 1.2em;
 } 


/*#about_us .six.columns.alpha {
  padding-top: 30px;
  
}

#about_us .six.columns.omega {
  padding-top: 30px;
  
}*/




#section2 {
  height:650px;
  width:100%;
  padding-top: 50px;
  /*background-color:#3498db;*/
  color: #fff;
}

#section2 strong {
  color:#fff;
}
#section2 a 
{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; /* border radius */
  border:2px solid #fff; 
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.0em;
}
#section2 img {
  height:120%;
  width:120%;
  margin-right:0px;
  margin-top:33px;
}


#video {
  background-color: #00bfbf;
  height:485px;
}

#video iframe {
  padding-top:30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px;
}

#video h1 {
  
  padding-top:50px;
  text-align: center;
  color:white;
}

#video h2{ 
  font-size:35px;
  line-height: 1.5em;
  padding-top:60px;
  padding-bottom: 30px;
  text-align:center;}

#video .btn {
   /* 11px 22px */
   border:2px solid #fff; 
   padding: 11px 25px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   height:40px;
   width:140px;
   font-size: 20px;
   text-align:center;
   text-decoration: none;
   vertical-align: middle;
   font-family: Varela Round;
   color:#fff;
   display:table-cell;
   

   /* border radius */
}

#video .btn1 {
   /* 11px 22px */
   border:2px solid #fff; 
   padding: 11px 25px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   height: 40px;
   width: 140px;
   font-size: 20px;
   text-align:center;
   text-decoration: none;
   vertical-align: middle;
   font-family: Varela Round;
   color:#fff;
   display:table-cell;

   /* border radius */
}

#video .hack {
  margin-left: 130px;
}
#video .hack1 {
  margin-left: 10px;
}

#video strong {
  color:#fff;
  font-weight:300;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#cute {
  /*background: url('../images/c4c-images/stepback.jpg') no-repeat; */
  background-size: cover;
  height:850px;
  width: 100%;
  color:#fff;
  font-size:18px;
  background-color: #fff;
  opacity:.8;
}

#cute h1 { 
  
  color:#000000;
}

#cute strong {
  color: #000000;
}

#cute .hack {
  
  background-color: #BF4040;
  opacity:.8;
  color: #000000;
}

#leader {
  
  background: -webkit-linear-gradient(#3498db, #5092BE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3498db, #5092BE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3498db, #5092BE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3498db, #5092BE); /* Standard syntax */
  /*background: #f7f7f7;*/
  text-align: center;
  padding-bottom: 150px;
  margin-top: -;
  background-color: #F6F3EE;
  height: 100%;
  color:#13496C;
  width: 100%;
  
}

#leader h1 {
  color:#fff;
  text-align:bottom;
  box-shadow:  0px 0 10px #000000;
  padding-top: 25px;
  padding-bottom: 0px;
  background-color: #13496C;
  border: 2px solid #BF4040;
   border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;


}

#leader strong {
  color:#13496C;
}
#leader .hack {
  margin-top: 140px;
  margin-bottom: 50px;
}

#leader .move {
  margin-top: 50px;
}
#leader img {
 
  width: 180px;
  height: 180px;
  /*border: 2px solid #BF4040;*/
  border-radius: 200px;
  background-color: #BF4040;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  box-shadow:  0px 0 10px #000000;

}

#leader .lead{
  margin-top:-85px;
  /*border: 2px solid #BF4040;*/
   background-color:#fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow:  0px 0 10px #000000;

}

#leader p{
 
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 30px;
  text-align: left;
}

#leader .marquis h1 {
  padding-top:80px;

}
#leader .lead a{
  text-transform:uppercase bold;
  text-decoration:none;
  text-align: right;
   border-top: 1px solid #E01F2E;
   background: #E01F2E;
   background: -webkit-gradient(linear, left top, left bottom, from(#E01F2E), to(#E01F2E));
   background: -webkit-linear-gradient(top, #E01F2E, #E01F2E);
   background: -moz-linear-gradient(top, #E01F2E, #E01F2E);
   background: -ms-linear-gradient(top, #E01F2E, #E01F2E);
   background: -o-linear-gradient(top, #E01F2E, #E01F2E);
   padding: 20px 40px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   font-family: Varela Round;
   color:#fff;
 }

#leader .lead a strong {
 color:#fff;
}

#social {
width: 100%;
height: 100%;
/*border-top: 3px solid #BF4040;*/
background-color: background: -webkit-linear-gradient(#3498db, #5092BE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3498db, #5092BE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3498db, #5092BE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3498db, #5092BE);
padding-top: 20px;
padding-bottom:30px;
}



#social img {
  height: 50%;
  width: 50%;
  float:right;
  margin-right: 10.416667%;
  margin-top: 3.125%;
}

#social iframe {
  background:#fff;
  border:1px solid #fff;
   border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow:  0px 0 10px #000000;
}

#social span h1{
  color:#fff;
  text-align:center;
  text-shadow:0 2px 2px #3498db;
  box-shadow:  0px 0 10px #000000;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #13496C;
  border: 2px solid #BF4040;
   border-top-right-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
}

#social .fourteen.columns {
  background-color: #13496C;
}



#testimonials {
  padding-top:30px;
  text-align: center;
}

#sponsors {
  background-image: url("../assets/group.png");
 background-repeat: no-repeat;
 background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 20px #000000;

}

/*#sponsors .container {
  / text-shadow: 0 0 2px #000000;
  background: -webkit-linear-gradient(#E01F2E, #BF4040); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(#E01F2E, #BF4040); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(#E01F2E, #BF4040); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(#E01F2E, #BF4040);
  

  /*box-shadow: 0 0 20px #000000;*/
  
  /*-webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
}*/

#sponsors .container .tweleve.columns.offset-by-two {
  /*background-color: background: -webkit-linear-gradient(#E01F2E, #BF4040); 
  background: -o-linear-gradient(#E01F2E, #BF4040); 
  background: -moz-linear-gradient(#E01F2E, #BF4040); 
  background: linear-gradient(#E01F2E, #BF4040);
  border: 4px solid #13496C;*/
}
#sponsors img {
   height:100px;
   width:100px;
  
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   box-shadow: 0 0 10px #000000;
}

#sponsors h1{
  text-align: center;
  color:#fff;
  text-shadow: 0 0 2px #000000;
/* background-color: #fff;
   border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
   border: 4px solid #13496C;*/
}

#sponsors p {
  text-align: right;
  
  height:100px;
   width:100px;
  
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   /*box-shadow: 0 0 10px #000000;*/
}

#sponsors .but {
  text-align:center;
  margin-top: 130px;
  padding-bottom: 20px;
}

#sponsors a{
  text-transform:uppercase bold;
  text-decoration:none;
  text-align: right;
   border-top: 1px solid #13496C;
   background: #13496C;
   background: -webkit-gradient(linear, left top, left bottom, from(#13496C), to(#13496C));
   background: -webkit-linear-gradient(top, #13496C, #13496C);
   background: -moz-linear-gradient(top, #13496C, #13496C);
   background: -ms-linear-gradient(top, #13496C, #13496C);
   background: -o-linear-gradient(top, #13496C, #13496C);
   padding: 20px 40px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   font-family: Varela Round;
   color:#fff;
}

#sponsors strong {
  color:#fff;
}

#footer {
  background:#BF4040;
  padding: 1em 0;
 }

 #footer nav ul {
  margin-top:0.5em;
 }
 
 #footer nav ul li {
  display:inline;
  margin:0;
 }


 #footer nav ul li a {
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;
  margin:0 1em 0 0;
  font-size:1.1em;
 }

 #footer img {
  float:right;
  width: 55px;
  height: 55px;
  /*border: 1px solid #BF4040;*/
  border-radius: 200px;
  box-shadow: 0 0 3px #BF4040;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
 }
 
 #footer p {
  color:#fff;
  line-height: 1;
  text-transform: uppercase;
  font-size:0.7em;
  margin-top:0.5em;
 }

  #programs {
  padding-top: 30px;
  
  }


  #process .sixteen.columns {
    background-color: #fff;
    border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow:  0px 0 10px #000000;
  margin-bottom: 50px;
  }

  #process .sixteen.columns.clearfix img {
    height:65%;
    width: 65%;

  }
  #process p{
 
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 30px;
  text-align: left;
  color:#13496C;
}
  #process h1 {
  color:#fff;
  text-align:bottom;
  box-shadow:  0px 0 10px #000000;
  padding-top: 25px;
  padding-bottom: 3.125%;
  background-color: #13496C;
  border: 2px solid #BF4040;
   border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  text-align: center;
}
  #process .four.columns.omega img{
  height:100%;
  width:100%;
  /*border: 5px solid #BF4040;*/
  border-radius: 65%;
  -webkit-border-radius: 65%;
  -moz-border-radius: 65%;
  box-shadow:  0px 0 10px #000000;
 }

 #programs h1 {
 color:#fff;
  text-align:bottom;
  box-shadow:  0px 0 10px #000000;
  padding-top: 25px;
  padding-bottom: 3.125%;
  background-color: #13496C;
  border: 2px solid #BF4040;
   border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  text-align: center;
  font-size: 4em;
 }
 #programs img {
  height:80%;
  width:80%;
  /*border: 5px solid #BF4040;*/
  display:block;
  margin-right: auto;
  margin-left: auto;
   }
#programs .stepback img{
  height:100%;
  width:100%;
}

#programs h2 {
  text-align: left;
  font-size: 1.5em;
  margin-left:5%;
}
 #programs h2 strong{
  color: #13496C;
 
 }

 #programs p{
 
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 30px;
  text-align: left;
  color:#13496C;
  margin-left: 5%;
  margin-right: 5%;
}

#programs p strong {
  color: #13496C;
}

#programs #coaching_leadership .sixteen.columns  {
   background-color:#fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow:  0px 0 10px #000000;
  margin-bottom: 50px;

}

#programs #youth_sports .sixteen.columns {
   background-color:#fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow:  0px 0 10px #000000;
  margin-bottom: 20px
}
#testimonial .fourteen.columns img{
  float:left;
  width: 35%;
  height: 35%;
  /*border: 2px solid #BF4040;*/
  border-radius: 10%;
  background-color: #BF4040;
  
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  shape-outside: circle(50%);
 margin:20px;
  float: left;
  box-shadow:  0px 0 10px #000000;

 }

 #testimonial {
  color:#13496C;
  padding-top: 3.125%;
 }

#testimonial h1 {
  color:#13496C;
  text-align: center;
}

#testimonial strong {
  color:#13496C;
}
#testimonial blockquote {
  font-size: 1em;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#testimonial blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


#testimonial blockquote p {
  display: inline;
}


#coaching_leader {
  background-color:#3498db ;
  }
#coaching_leader h1{
  color: #fff;
  background-color:#3498db; 
}


#media {
  padding-top:25px;
  background: -webkit-linear-gradient(#5092BE, #3498db); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5092BE, #3498db); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5092BE, #3498db); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5092BE, #3498db);
  color:#13496C;

}

#media h1 {
 
  color:#fff;
  text-align:bottom;
  box-shadow:  0px 0 10px #000000;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: #13496C;
  border: 2px solid #BF4040;
   border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  text-align: center;
  font-size: 4em;
 
}

#media .container .sixteen.columns p{
  border-bottom-style: dotted;
  border-bottom-width: thick;
  padding-bottom: 20px;
  border-bottom-color:#BEDEF4;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #13496C;
}

#media .sixteen.columns {
   background-color:#fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow:  0px 0 10px #000000;
  margin-bottom: 50px;
  color: #13496C;
}

#media .people {
  padding-top: 10px;
}

#media img {
  display: block;
  margin-left: 5%;
  height:40%;
  width: 40%;

}

#media .container .sixteen.columns h2 strong {
  color: #13496C;
  margin-left: 5%;
  margin-right: 5%;
  line-height: .1em;
  font-size: 1em;
}
#media .container .sixteen.columns  h3 {
  color: #13496C;
  font-size: 1.2em;
  font-family: Varela Round;
  margin-left: 5%;
  margin-right: 5%;
  
}
#media .container .sixteen.columns  h4{
  color: #13496C;
  font-family: Varela Round;
  margin-left: 5%;
  margin-right: 5%;
  font-size:.75em;
  line-height: .1em;
}
#media .people img {
  height:15%;
  width:15%;
}

#media .crowdvance img
{
  height:25%;
  width:25%;
}

#media .summit img {
  height:20%;
  width:20%;
}

#media .container .sixteen.columns .huffpo2 p{
  border-bottom-style: hidden;
}

#media .hbr img {
  height:15%;
  width:15%;
}

#media nav {

}

 .vid {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/*#coaching_leader {
  
  background-image:url(../images/c4c-images/stepback.png);
  background-size: 150% 150%;
  background-repeat: no-repeat;
}*/


/*#section1 img{
  min-height: 490px;
  width: 900px;
  size:cover;
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing 
  -khtml-border-radius: 10px;
} */


/*#videobcg { 
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}*/

